﻿@model IEnumerable<LearningPortal.Models.Addre>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@foreach (var item in Model)
{
<a>

    <iframe width="560" height="315" src="@item.Addres" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
</a>
}
