﻿@model IEnumerable<LearningPortal.Models.SubCourse>

@{
    ViewBag.Title = "Index";
}

<h2>Sub Folders</h2>


@foreach (var item in Model)
{
<a href="@Url.Action("Details", "SubCourses", new { id = item.SubCourseID })">

    <img src="~/Content/IMG/folder1.png" class="img-fluid" />
</a>
@Html.DisplayFor(modelItem => item.SubCourseName)
<br />

}


