﻿@model IEnumerable<LearningPortal.Models.Course>

@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>




@foreach (var item in Model)
{
    <a href="@Url.Action("Details", "Courses", new { id = item.CourseID })">

        <img src="~/Content/IMG/folder1.png" class="img-fluid" />
    </a>
    @Html.DisplayFor(modelItem => item.CourseName)
    <br />

}


